{% load static %}
<!-- Images at the bottom page of the site-->
<section id="bottomlogos" class="py-1">
  <div class="container">

    <p class="text-center">DST-NRF Centre of Excellence in Epidemiological Modelling and Analysis</p>
    <div class="row mb-4">
      <div class="col-md-4">


        <img src="/static/images/su100.jpg" alt="" width="330" height="85">
        </a>
      </div>

      <div class="col-md-4">


        <img src="/static/images/NationalResearchFoundation.jpg" alt="" width="330" height="85">
        </a>
      </div>

      <div class="col-md-4">


        <img src="/static/images/DepartmentOfScienceAndTechnology.jpg" alt="" width="330" height="85">
        </a>
      </div>
    </div>
