{% load static %}

<section id="bottomlogos" class="py-1">
  <div class="container">

    <p class="text-center">DST-NRF Centre of Excellence in Epidemiological Modelling and Analysis</p>
    <div class="row mb-4">
      <div class="col-md-4">


        <img src="/static/images/StellenboschUniversity.jpg" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">


        <img src="/static/images/NationalResearchFoundation.jpg" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">


        <img src="/static/images/DepartmentOfScienceAndTechnology.jpg" alt="" class="img-fluid">
        </a>
      </div>
    </div>
