{% load static %}

<section id="bottomlogos" class="py-1">
  <div class="container">

    <p class="text-center">DST-NRF Centre of Excellence in Epidemiological Modelling and Analysis</p>
    <div class="row mb-4">
      <div class="col-md-4">


        <img src="/static/images/su100resized.jpg" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">


        <img src="/static/images/NationalResearchFoundationresized.jpg" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">


        <img src="/static/images/DepartmentOfScienceAndTechnologyresized.jpg" alt="" class="img-fluid">
        </a>
      </div>
    </div>
