{% load static %}
{% load cms_tags menu_tags sekizai_tags %}
<style>
  /* .background_image1 {
  background: url('/static/images/step0002.jpg'); /*code pulls through the image in css*/
  /* background-size: cover; */




  div.ex1 {
    background-color: white;
    /* width: 85%; */
    height: 100%;
    overflow: scroll;
    margin-left: 300Px;
    margin-right: 300Px;
    min-width: 500px;
    padding-right: 15px;
    padding-left: 15px;

  }
</style>

<section id="showcase">



  <div class="ex1">
    {% block content %}



    {% placeholder "content" %}

    {% endblock content %}

  </div>
</section>
