{% load static %}
{% load cms_tags menu_tags sekizai_tags %}

<style>
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  /* This code increases spacing between list items in a nav-bar */
  .navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
  }


  ul {
    list-style-type: none;

    display: inline;

  }
</style>

<section id="top-bar" class="p-0">
  <div class="container" class="top-bar">

    <nav class="navbar navbar-expand-sm navbar-dark bg-default navbar-custom">
      <div class="container ">
        <a class="navbar-brand" href="#"></a>
        <ul class="navbar-nav m-auto">
          {% show_menu 0 100 100 100 "menu/custom-menu.html" %}
        </ul>
      </div>
    </nav>
  </div>
</section>
