<section id="top-bar" class="p-0">
  <div class="container">

    <nav class="navbar navbar-expand-sm navbar-dark bg-default navbar-custom">

      <div class="container ">
        <a class="navbar-brand" href="#"></a>

        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link text-light" data-toggle="dropdown">Research</a>
            <div class="dropdown-menu">

                <a href="#" class="dropdown-item">Research Theme 1</a>

                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Research Theme 2</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Research Theme 3 </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Research Theme 4</a>

          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Publications</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link text-light" data-toggle="dropdown">People </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Core Staff</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Research Associates and Fellows</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Postdoctoral Research Fellows</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Students</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link text-light" data-toggle="dropdown">Opportunities </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Short Courses</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Postgraduate Bursaries</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Fund for ERF</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Postdoctoral Fellowships</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Job Openings</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link text-light" data-toggle="dropdown">News</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Events and Announcements</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Newsletters</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link text-light" data-toggle="dropdown">Resources</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Publications</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Assay Based Incidence Estimation</a>
          </li>
      </div>


      </ul>

    </nav>

  </div>
  </div>
</section>
