{% load static %}
{% load cms_tags menu_tags sekizai_tags %}

<style>
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  /* This code increases spacing between list items in a nav-bar */
  .navbar-nav>li {
    color: white;
  }

  .navbar {
 min-height: 65px;
}

  li a:hover {
    background-color: #F7941E;
    color: #731305;
  }

    li a {
      color: white;
    }


  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
    font: white;
  }

</style>

<section id="top-bar" class="p-0">
  <div class="container" class="top-bar">

    <nav class="navbar navbar-expand-sm navbar-dark bg-default navbar-custom">
        <div class="container" class="top-bar">

        <a class="navbar-brand" href="#"></a>
        <ul class="navbar-nav m-auto">
          {%  show_menu 0 100 100 100 "menu/custom-menu.html" %}
        </ul>
      </div>
    </nav>
</section>
