{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div style="background:transparent !important" class="jumbotron jumbotron-fluid py-4" id="aboutusjumbotron">
  <div class="container">
          <h5>About us</h5>
          <hr>
    <p>The <b>South African Centre for Epidemiological Modelling and Analysis (SACEMA)</b> is a national research centre dedicated to modelling and analysis to improve health in South Africa and across the African continent. Trained in mathematics, biology, physics, economics, statistics, and epidemiology, we bridge disciplines to understand disease dynamics and improve real-world outcomes. We focus on research at two scales. At the individual scale, we focus on biomarkers, drug targets, and diagnostics. At the population scale, we focus on transmission dynamics and interventions.</p>
    <p> SACEMA was founded in 2006 as a DST-NRF Centre of Excellence and is hosted at Stellenbosch University in South Africa's Western Cape.</p>
    <p>  </p>
      <h5>SACEMA Steering Committee</h5>
      <hr>
<p>Chair: Prof Eugene Cloete, Vice-Rector (Research, Innovation & Postgraduate Studies), Stellenbosch University</p>
<p> Prof Nico Gey van Pittius, Vice-Dean (Research), Faculty of Health Sciences, Stellenbosch University</p>
<p>Dr Makhobetsa Khati, Executive Director (Research Chairs & Centres of Excellence), National Research Foundation</p>
<p>Prof Juliet Pulliam, Director of SACEMA</p>

<p>Prof Jacky Snoep, SARChI Research Chair in Mechanistic Modelling of Health and Epidemiology, Stellenbosch University</p>
<p>Prof Louise Warnich, Dean of Science, Stellenbosch University </p>
  </div>
</div>
{% endblock %}
