 {% load static  %}
<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/jquery.validate.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


	<title>{% block title %}Hello, world!{% endblock %}</title>
  <!-- Configuring CSS in django website -->

  <link rel="stylesheet" href="{% static 'main/css/style1.css'%}">

  <style>
        .containernav{
           /* padding:5px 10px 15px 20px;
            border:5px solid black;
            border-bottom: 15px solid red;
            margin:20px 15px 10px 5px;
            width:100px;
            height:60px   */ 
            padding-top: 15px;
 			 padding-right: 150px;
 			 padding-bottom: 15px;
  			padding-left: 80px; 
  			width: 100;
  			height: 60;
  			background-color: #731305  
                }
       </style>
     
</head>
 
  <body>
    <!-- Setting up the box model  first box for Nav bar-->
   
  	 <section class=" containernav">
        <div class="box1 ">
     <ul class="nav justify-content-center">
         
         <nav class="navbar navbar-expand-lg navbar-dark "/>
<a class = "navbar-brand" href="#">

	
  <a class="navbar-brand mb-0 h1" href="{% url 'about' %}"> About</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item active">
        <a  class="nav-link" navbar-brand = "mb-0 h1" href="{% url 'home' %}">Contact Us <span class="sr-only">(current)</span></a>
      </li>
    	<li class="nav-item active">
        <a  class="nav-link" navbar-brand = "mb-0 h1" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a  class="nav-link" navbar-brand = "mb-0 h1" href="{% url 'home' %}">Research Themes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Publications</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          People
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Core Staff</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Research Associates and Fellows</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Technical Support Staff</a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Trainees </a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Alumni</a>
        </div>
      </li>
       <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opportunities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Short Courses</a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'intbursary' %}">Postgraduate Bursaries</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Emerging Researcher Funding</a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Job Openings </a>


       </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          News
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Events and Announcements </a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Newsletters</a>

      
        </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">Resources</a>
              </ul>
      </li>
    </ul>

  </div>

</nav>

 </div>


 <!-- <End of nav bar codet”> -->

    </section>
 <!--
 	*****this code is specifically for centering a div with a sacema old background picture*****

<div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
        <p class="lead">A great starter layout for a landing page</p>
      </div>
    </div>
  </div>


<div class="img"><img src="/static/main/img/sacemabackground.jpg" class="img-fluid mx-auto d-block" alt="Responsive image"></div>
-->





 <!-- <ul class=”navbar-nav float-xs-right”> -->

 

  	<div class="container">
  		<br/>
	{% block content %}
        
        
        
	{% endblock %}
	</div>
  
  </br>





<footer class = "text-muted" text align = "center">
      <div class = "container">
        <p> Copyright © SACEMA {% now "Y" %} </p>
      </div>

    

    </footer>
    
</body>
</html>