 {% load staticfiles %}
 <!doctype html>
 <html lang="en">

 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width = device-width, initial-scale = 1.0">
   <!-- Bootstrap core  -->
   <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
   <!-- Custom css -->
   <link rel="stylesheet" href="{% static 'bootstrap4/css/style.css' %}">




   <!-- Required Jquery -->

   <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script-->

   <!--script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="js/jquery.validate.js"></script-->


   <!-- Bootstrap CSS -->
   <!link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous" -->


     <title>{% block title %}Hello, world!{% endblock %}</title>
     <!-- Configuring CSS in django website -->



     <!--link rel="stylesheet" type="text/css" href="style.css"-->
<style>


       </style>




 </head>

 <body>

   <!-- New Nav bar Two-->


   <nav class="navbar navbar-expand-sm navbar-dark bg-default navbar-custom">

     <div class="container ">
       <a class="navbar-brand" href="#"></a>

         <ul class="navbar-nav m-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#">About</a>
           </li>
           <li class="nav-item active dropdown">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Research Themes </a>
             <div class="dropdown-menu">
               <a href="#" class="dropdown-item">Research Theme 1</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Research Theme 2</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Research Theme 3 </a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Research Theme 4</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="#">Publications</a>
           </li>
           <li class="nav-item active dropdown">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">People </a>
             <div class="dropdown-menu">
               <a href="#" class="dropdown-item">Core Staff</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Postgraduate Bursaries</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Emerging Researcher Funding</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Job Openings</a>
           </li>

           <li class="nav-item active dropdown">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Opportunities </a>
             <div class="dropdown-menu">
               <a href="#" class="dropdown-item">Short Courses</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Postgraduate Bursaries</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Emerging Researcher Funding</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Job Openings</a>
           </li>
           <li class="nav-item active dropdown">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">News</a>
             <div class="dropdown-menu">
               <a href="#" class="dropdown-item">Events and Announcements</a>
               <div class="dropdown-divider"></div>
               <a href="#" class="dropdown-item">Newsletters</a>
           </li>

           <li class="nav-item active">
             <a class="nav-link" href="#">Resources</a>
           </li>
     </div>
     </li>

     </ul>
     </div>
   </nav>
   <!-- logo section -->
   {% block content %}

   {% endblock content %}

   <!-- logo section -->

   <section id="logosection" class="py-8">
     <div class="dark-overlay">
       <div class="row">
         <div class="col">
           <div class="container pt-8">
             <img src="/static/images/concept_home_rev_images_logo_900px.jpg" class="mx-auto d-block">
           </div>
         </div>
       </div>
     </div>
   </section>

   <!-- moto section -->

   </div>
   <section id="aim" class="p-8">
     <div class="dark-overlay">
       <div class="row">
         <div class="col">
           <div class="container pt-8">
             <p class="text-center">SACEMA works towards improving health in Africa through modelling and analysis</p>


           </div>
         </div>
       </div>
     </div>
   </section>


   <!-- red background section -->
   <section id="redbackground" class="p-5">
     <div class="dark-overlay">
       <div class="row">
         <div class="col">
           <div class="container pt-5">

           </div>
         </div>
       </div>
     </div>
   </section>
   <div>

   </div>

   <!--orange/yellow background section -->
   <section id="orangebackground" class="p-5">
     <div class="dark-overlay">
       <div class="row">
         <div class="col">
           <div class="container pt-5">

           </div>
         </div>
       </div>
     </div>
   </section>

   <!-- black nav link section -->
   <section id ="logosection">
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a class="nav-link" href="#">Subscribe</a>
       </li>
       <li class="nav-item active">
         <a class="nav-link" href="#">email</a>
       </li>
       <li class="nav-item active">
         <a class="nav-link" href="#">twitter</a>
       </li>
       <li class="nav-item active">
         <a class <li class="nav-item active">
           <a class="nav-link" href="#">contact us</a>
       </li>
       <li class="nav-item active">
         <a class="nav-link" href="#">legal</a>
       </li>
     </ul>
   </nav>
 </section>


   <!-- Funder PHOTO GALLERY -->




   <section id="gallery" class="py-1">
     <div class="container">

       <p class="text-center">DST-NRF Centre of Excellence in Epidemiological Modelling and Analysis</p>
       <div class="row mb-4">
         <div class="col-md-4">


           <img src="/static/images/StellenboschUniversity.jpg" alt="" class="img-fluid">
           </a>
         </div>

         <div class="col-md-4">


           <img src="/static/images/NationalResearchFoundation.jpg" alt="" class="img-fluid">
           </a>
         </div>

         <div class="col-md-4">


           <img src="/static/images/DepartmentOfScienceAndTechnology.jpg" alt="" class="img-fluid">
           </a>
         </div>
       </div>


     </div>
   </section>

   <footer id="main-footer" class="text-center p+5">
     <div class="container">
       <div class="row">
         <div class="col">
           <p>Copyright © SACEMA {% now "Y" %}</p>
         </div>
       </div>
     </div>
   </footer>




   <!-- Bootstrap core JavaScript
      ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="/static/bootstrap4/js/jquery.js"></script>
   <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

 </body>

 </html>
