{% extends 'base.html' %}

{% block title %} Contact us {% endblock %}

{% block content %}


<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Contact us page in progress, please be patient</h5>
    <p class="card-text">Telephone Number, Fax Number, Physical Address, Postal address, Map and Directions</p>
    <a href="#" class="btn btn-primary">Link</a>
  </div>
  <div class="card-footer text-muted">
    footer text
  </div>
</div>

{% endblock %}
