{% extends 'base.html' %}
{%block title%} Core Staff {% endblock %}
{% block content %}



<!--Display core Staff -->
<!-- People test -->
<section id="people" class="py-8">
  <div class="container">

    <h5 class="text-center"> Core Staff</h5>
    <div class="row text-center text-light">
      {% if peopledetails %}
      {% for peopledetail in peopledetails %}

      <div class="col-md-4 mb-4">

        <img class="card-img" src="{{ peopledetail.headshot.url }}" alt="Card image" class="rounded" style="width: 200px" style="height: 261px">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">


          <div class="content">
            <p> {{ peopledetail.firstnames }} {{ peopledetail.surname }}</p>
              <p class="card-text">Some quick example text.</p>
           </div>



        </div>

      </div>
      <hr>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>No People Available</p>
      </div>
      {% endif %}

    </div>

  </div>
</section>

{% endblock %}
