{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<section id="aim" class="p-8">
  <div class="container" id="container-white">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-8">
          <p class="text-center"><i>Modelling and analysis to improve health in Africa</i></p>


        </div>
      </div>
    </div>
  </div>
</section>


<section id="back_ground">
  <div class="container">

    <div class="card-columns text-center">
      <div class="card text-white border-white">
        <img class="card-img" src="\static\images\building_relations.jpg" alt="" class="img-fluid">
        <div class="card-img-overlay">
          <table style="height: 265px;">
            <tbody>
              <tr>
                <p style="font-size:1.5rem;" class="card-text">Building great collaborations</p>

              </tr>
            </tbody>
            <a style="font-size:1rem;" href="#" class="card-link btn btn-primary" class="card-footer">Find out more</a>
          </table>



        </div>
      </div>


      <div class="card text-white border-white">
        <img class="card-img" src="\static\images\commissioned_work.jpg" alt="" class="img-fluid">


        <div class="card-img-overlay">
          <table style="height: 265px;">
            <tbody>
              <tr>
                <p style="font-size:1.5rem;" class="card-text">Undertaking commissioned work</p>

              </tr>
            </tbody>
            <a style="font-size:1rem;" href="#" class="card-link btn btn-danger text-light" class="card-footer">Work with us</a>
          </table>



        </div>


      </div>
      <div class="card text-white border-white">
        <img class="card-img" src="\static\images\research_training.jpg" alt="" class="img-fluid img-thumbnail">
        <div class="card-img-overlay">
          <table style="height: 265px;">
            <tbody>
              <tr>
                <p style="font-size:1.5rem;" class="card-text">Research and training</p>

              </tr>
            </tbody>
            <a style="font-size:1rem;" href="#" class="card-link btn btn-warning text-light" class="card-footer">Explore options</a>
          </table>



        </div>
      </div>
    </div>
    <div>

<div class="jumbotron py-5" id="jumbotron-white">
  
      <div class="card-columns">
        <div class="card text-center border-white">
          <div class="card-body">
            <h4 class="card-title text-danger">News</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content
              is a little bit longer.
           </p>

          </div>
          <footer>
            <a style="font-size:1rem;" href="#" class="card-link btn btn-warning btn-block text-light" class="card-footer">View all articles</a>
          </footer>
        </div>

        <div class="card text-center border-white">

          <div class="card-body">
            <h4 class="card-title text-danger">Events</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content
              is a little bit longer.</p>
          </div>
          <footer>
            <a style="font-size:1rem;" href="#" class="card-link btn btn-primary btn-block text-light" class="card-footer"> View calendar</a>
          </footer>
        </div>
        <div class="card text-center border-white">

          <div class="card-body">
            <h4 class="card-title text-danger">Opportunities</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content
              is a little bit longer.</p>
          </div>
          <footer>
            <a style="font-size:1rem;" href="#" class="card-link btn btn-danger btn-block text-light" class="card-footer">View all opportunities</a>
          </footer>
        </div>


      </div>

        
</div>
   

    </div>

  </div>
</div>
</section>

{% endblock %}
