{% extends 'base.html' %}
{% load static %}

{% block title %} People {% endblock %}

{% block content %}

<!-- People categories -->

<div class="card text-center border-white text-dark">

  <div class="card-body">
    <h5 class="card-title">People at SACEMA</h5>
    <hr>
    <div class="row text-center">

      <div class="col-md-12">
<p class="card-text"><a href="{% url 'corestaff' %}">Core Staff</a></p>
<p class="card-text"><a href="{% url 'researchafellows' %}">Research Associates and Fellows</a></p>
<p class="card-text"><a href="{% url 'postdcrfellows' %}">Postdoctoral Research Fellows</a></p>
<p class="card-text"><a href="{% url 'students' %}">Students</a></p>
      </div>

    </div>
  </div>

</div>
{% endblock %}
<!-- People-->
