{% extends 'base.html' %}

{% block title %} Person {% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-inverse">
                <div class="card-header text-center">
                    Category
                </div>
                <img class="card-img" src="//placehold.it/400" alt="Card image cap">
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                    <h4 class="card-title">Title</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}
