{% extends 'base.html' %}

{% block title %} Person {% endblock %}

{% block content %}

<div class="container" id="container-white">

  <div class="row">

    <div class="col-sm-3"> <img class="card-img" src="{{ staffdetail.person_id.headshot.url }}" alt="Card image" class="rounded" style="width: 200px" style="height: 261px"></div>

    <div class="col-sm-9">
      <p>
        <h5> {{staffdetail.person_id.firstnames}} {{staffdetail.person_id.surname}}, {{staffdetail.qualification}}</h5>
      </p>


      <p>{{staffdetail.job_title}}
      </p>

      <p>{{staffdetail.research_theme}}
      </p>
      <p>{{staffdetail.person_id.bio}}</p>

        <p>
          <h5> Publications</h5>

        </p>
        <p>{{staffdetail.person_id.website}}
        </p>
        <p> {{staffdetail.person_id.email}}
        </p>


    </div>

  </div>
</div>

{% endblock %}
