{% extends 'base.html' %}
{% load static %}
{%block title%} Core Staff {% endblock %}
{% block content %}
<!--Display core Staff -->
<style>

</style>

<!--Display core Staff -->
<section id="corestaff" class="py-8">

  <div class="container" id="container-white">

    <p style="color:#99241B;font-size:2rem;" class="text-center">Publications</p>


    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <div class="row">
        {% if book_list %}
        <ul>
          {% for book in book_list %}
            <li>
              <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>There are no Publications</p>
        {% endif %}


    </div>


  </div>



</section>

{% endblock %}
