{% extends 'base.html' %}
{%block title%} Steering Committee {% endblock %}
{% block content %}

<!--Display Steering Committee -->

<div class="card text-center border-white text-dark">

  <div class="card-body">
    <h5 class="card-title">SACEMA Steering Committee</h5>
    <hr>
    <div class="row text-center">
      <div class="col-md-12">
      <p>Chair: Prof Eugene Cloete, Vice-Rector (Research, Innovation & Postgraduate Studies), Stellenbosch University</p>
      <p> Prof Nico Gey van Pittius, Vice-Dean (Research), Faculty of Health Sciences, Stellenbosch University</p>
      <p>Dr Makhobetsa Khati, Executive Director (Research Chairs & Centres of Excellence), National Research Foundation</p>
      <p>Prof Juliet Pulliam, Director of SACEMA</p>

      <p>Prof Jacky Snoep, SARChI Research Chair in Mechanistic Modelling of Health and Epidemiology, Stellenbosch University</p>
      <p>Prof Louise Warnich, Dean of Science, Stellenbosch University </p>

      </div>

    </div>
  </div>

</div>
{% endblock %}
